#top-heading {
color:#7F7F7F;
text-align: center;
font-style: normal;
font-family: 'Raleway', sans-serif;
font-weight:100;
margin-top: 44px;
margin-bottom: 145px;
letter-spacing: .5px;
font-size: 18px;
}
#main-text {
color: #4C4C4C;
text-align: center;
font-size: 56px;
font-style: normal;
font-family: 'Alice', serif;
font-weight: 400;
letter-spacing: initial;
line-height: 5rem;

}
#heart {
  height: 48px;
  width: 62px;
  color:#F05F68;
}

.arrow
{
margin-top: 30px;
cursor: pointer;
position: relative;
color: #4C4C4C;
text-align: center;
  

}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
#tear {
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 40px;
  height: 20px;
  width: 16px;

}
#info {
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 40px;
  height: 27px;
  width: 25px;
  display: inline;
  float:right;
  
}
.bottompics {
  display: inline-block;
  width: 100%;
  display: absolute;
}
.information {
  float: right;
}

.arrow img {
  height:130px;
  width:150px; 

}